<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}} {{topic}} Questions Edit</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin-homepage.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='icons/house-door-fill.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static',filename='js/admin-homepage.js') }}"></script>
</head>
<body>
    <header>{{subject}} {{topic}} Questions Edit Page</header>
    <br>
    <div class="container">
        <div class="questions">
            {% for q in questions %}
            <div class="qno">Question {{ loop.index }}:</div>
            <div class="question-sample-edit-{{ loop.index }}">
                <input type="text" id="question-{{ loop.index }}" value="{{ q.question }}" placeholder="Question" required><br><br>
                <input type="text" id="opt-a-{{ loop.index }}" value="{{ q.option1 }}" placeholder="Option A" required>
                <input type="text" id="opt-b-{{ loop.index }}" value="{{ q.option2 }}" placeholder="Option B" required><br><br>
                <input type="text" id="opt-c-{{ loop.index }}" value="{{ q.option3 }}" placeholder="Option C" required>
                <input type="text" id="opt-d-{{ loop.index }}" value="{{ q.option4 }}" placeholder="Option D" required><br><br>
                <select id="correct-{{ loop.index }}">
                    <option value="1" {% if q.correct == 1 %}selected{% endif %}>A</option>
                    <option value="2" {% if q.correct == 2 %}selected{% endif %}>B</option>
                    <option value="3" {% if q.correct == 3 %}selected{% endif %}>C</option>
                    <option value="4" {% if q.correct == 4 %}selected{% endif %}>D</option>
                </select><br><br>
                <button id="edit" class="admin-edit-button" onclick="modifyQuestion({{ q.qid }}, {{ loop.index }})">Modify</button>
                <button id="delete" class="admin-edit-button" onclick="deleteQuestion({{ q.qid }})">Delete</button>
            </div>
            <hr>
            {% endfor %}
        </div>
        <form action="{{ url_for('admin') }}" method="post">
            <button type="submit" class="logout-btn">Go Back to Homepage</button>
        </form>
    </div>
    <script src="{{ url_for('static',filename='js/admin-edit.js') }}"></script>
</body>
</html>
