<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}} {{topic}} Questions Add</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin-homepage.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='icons/house-door-fill.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static',filename='js/admin-homepage.js') }}"></script>
</head>
<body>
    <header>{{subject}} {{topic}} Questions Add Page</header>
    <br>
    <div class="container">
        <div class="questions">
            <div class="question-sample-add">
                {% if success %}
                    <p style="color: green;">Question added successfully!</p>
                {% endif %}
                <form action="{{url_for('adminadd')}}?subject={{subject}}&topic={{topic}}" method="POST" id="add-question-form">
                    <input id="add-question" name="question" placeholder="Sample Add Question"><br><br>
                    <input type="text" id="opt-a" name="opt-a" placeholder="Option A">
                    <input type="text" id="opt-b" name="opt-b" placeholder="Option B"> <br> <br>
                    <input type="text" id="opt-c" name="opt-c" placeholder="Option C">
                    <input type="text" id="opt-d" name="opt-d" placeholder="Option D"> <br> <br>
                    <select id="correct" name="correct">
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select> <br> <br>
                    <button type="submit" id="add-button">Add the question</button>
                </form> <br>
                <form action="{{ url_for('admin') }}" method="post" align="center">
                    <button type="submit" class="logout-btn">Go Back to Homepage</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
