<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}} {{topic}} Questions Add</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin-homepage.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='icons/house-door-fill.svg') }}" type="image/x-icon">
    <script src="{{ url_for('static',filename='js/admin-homepage.js') }}"></script>
</head>
<body>
    <header>{{subject}} {{topic}} Questions Add Page</header>
    <br>
    <div class="container">
        <div class="questions">
            <div class="question-sample-add">
                <p id="sample-add-question">Sample Add Question</p>
                <input type="text" id="sample-add-answer-opt-a" placeholder="Option A">
                <input type="text" id="sample-add-answer-opt-b" placeholder="Option B"> <br> <br>
                <input type="text" id="sample-add-answer-opt-c" placeholder="Option C">
                <input type="text" id="sample-add-answer-opt-d" placeholder="Option D"> <br> <br>
                <select id="sample-add-answer-correct">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select> <br> <br>
                <button id="sample-add-button">Add the question</button>
            </div>
        </div>
    </div>
</body>
</html>