<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta viewport="width=device-width, initial-scale=1.0">
        <title>Quiz Master Home Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
        <script>
            const quizURL="{{ url_for('quiz') }}";
        </script>
        <script src="{{url_for('static', filename = 'js/homepage.js')}}"></script>
        <link rel="icon" href="{{url_for('static',filename='icons/house-door-fill.svg')}}" type="image/x-icon">
    </head>
    <body>
        <header>Welcome to Quiz Master 
            {% if name %}
                , {{ name }}!
            {% else %}
                , Guest!
            {% endif %}
        </header>
        <div class="container">
            <div class="vertical-center">
                <h1>Test your knowledge in your desired subject!</h1>
                <p><b>To start taking a quiz, choose any topic from the below given subjects:</b></p>
                <p id="fill" style="color: red"></p>
                <a href="#" id="start-button">Start Quiz</a>
                <div class="categories">
                    <div class="category">Science
                        <div class="dropdown">
                            <div>Physics</div>
                            <div>Chemistry</div>
                            <div>Biology</div>
                        </div>
                    </div>
                    <div class="category">History
                        <div class="dropdown">
                            <div>Ancient</div>
                            <div>Medieval</div>
                            <div>Modern</div>
                        </div>
                    </div>
                    <div class="category">Math
                        <div class="dropdown">
                            <div>Algebra</div>
                            <div>Geometry</div>
                            <div>Calculus</div>
                        </div>
                    </div>
                    <div class="category">Technology
                        <div class="dropdown">
                            <div>AI</div>
                            <div>Programming</div>
                            <div>Cybersecurity</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category">
                <a href="{{ url_for('profilepage',name=name, username=username ) }}" style="text-decoration: none; color: black">Profile</a>
            </div>
        </div>
    </body>
</html>
