<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta viewport="width=device-width, initial-scale=1.0">
        <title>Quiz Master Home Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
        <script>
            const quizURL="{{ url_for('quiz') }}";
        </script>
        <script src="{{url_for('static', filename = 'js/homepage.js')}}"></script>
        <link rel="icon" href="{{url_for('static',filename='icons/house-door-fill.svg')}}" type="image/x-icon">
    </head>
    <body>
        <header>Welcome to Quiz Master 
            {% if name %}
                , {{ name }}!
            {% else %}
                , Guest!
            {% endif %}
        </header>
        <div class="container">
            <div class="vertical-center">
                <h1>Test your knowledge in your desired subject!</h1>
                <p><b>To start taking a quiz, choose any topic from the below given subjects:</b></p>
                <p id="fill" style="color: red"></p>
                <a href="#" id="start-button">Start Quiz</a>
                <div class="categories">
                    {% for c in courses %}
                        <div class="category">{{c.subject}}
                            <div class="dropdown">
                                {% for t in c.topics %}
                                    <div class="topic" id="{{t}}">{{t}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="category" id="profileBtn">Profile</div>
            <script>
                document.getElementById('profileBtn').onclick = function () {
                  location.href = "{{ url_for('profilepage') }}";
                };
              </script>
        </div>
    </body>
</html>
