
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>Quiz Master Register</title>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="icon" href="/Icons/register-page-icon.svg" type="image/x-icon">
    </head>
    <body>
        <div class="wrapper">
            <form id="Register" action="/index.html" method="get">
                
                <h1>Register</h1>
                
                <div class="input-box">
                    <input type="text" placeholder="Name" required>
                    <i class="bi bi-person"></i>
                </div>
                
                <div class="input-box">
                    <input type="text" placeholder="Username" required>
                    <i class="bi bi-person-circle"></i>
                </div>

                <div class="input-box">
                    <input  type="email" placeholder="Mail ID" required>
                    <i class="bi bi-envelope-at-fill"></i>
                </div>

                <div class="input-box">
                    <input class="password" type="password" placeholder="Password" required>
                    <i class="bi bi-eye-slash eye"></i>
                </div>
                
                <div class="input-box">
                    <input class="password" type="password" placeholder="Confirm Password" required>
                    <i class="bi bi-eye-slash eye"></i>
                </div>

                <button type="submit" class="button" onclick="alert('Successfully Regsitered!')">Register</button>
            </form>
        </div>
        <script src="/js/pass-toggle.js"></script>
    </body>
</html>

